frontend/packages/generated/src/**
!frontend/packages/generated/src/.gitkeep
!frontend/packages/generated/src/tables
frontend/packages/generated/src/tables/**
!frontend/packages/generated/src/tables/.gitkeep

# Playwright
tests/test-results/
tests/playwright-report/
tests/.playwright/
